@import '../../index.scss';

.navbar {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    z-index: 5;
    font-family: $poppins;
}

.navbarLeft {
    display: flex;
    align-items: center;
    gap: 50px;

    img {
        width: 90px;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 20px;
        li{
            cursor: pointer;
        }
    }
}


.navbarRight{
    display: flex;
    align-items: center;
    gap: 20px;

    .icon{
        width: 20px;
        cursor: pointer;
    }
    .navbarProfile{
        display: flex;
        gap: 10px;
        cursor: pointer;
        align-items: center;
        .profile{
            border-radius: 4px;
            width: 25px;
        }
    }
}
